html{
    background: url(../img/487533-2880x1800.jpg);
    background: url(../img/slider-bg-4@max.jpg) fixed;
    background: url(../img/1401131603_1045065001.jpg) fixed;
    background: url(../img/unnamed.jpg) fixed;
  /*  background: url(../img/abstract/blue_background_abstract-wide.jpg);  */
  /*  background-size: cover;  */
    background-position: center;
}

body{
  /*  background: url(../img/pix2.png) fixed; */
    background: none;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.9);
    font-weight: bold;
}

.navbar-inverse .navbar-inner{
    background-color:#1b1b1b;
    background-image:-moz-linear-gradient(top, #3F3F3F, #181818);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#3F3F3F), to(#181818));
    background-image:-webkit-linear-gradient(top, #3F3F3F, #181818);
    background-image:-o-linear-gradient(top, #3F3F3F, #181818);
    background-image: linear-gradient(to bottom, #3F3F3F, #181818);
    background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F3F3F', endColorstr='#181818', GradientType=0);
    border-color:#252525;
}

.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner{
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.4);
       -moz-box-shadow: 0 1px 8px rgba(0,0,0,.4);
            box-shadow: 0 1px 8px rgba(0,0,0,.4);
}



.nav-list>li>a, .nav-list .nav-header {
    text-shadow: none;
}

.clear{
    clear: both;
}

.btn-mini, .btn-group>.btn-mini{
    font-size: 11px;
    font-family: tahoma;
}


.rounded{
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
            
       -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
               box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}
.button-rounded {
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
}

.button:hover {
    text-decoration: inherit;
    color: inherit;
}

.ajax-loader{
    display: none;
    background: url(../img/loader-1.gif) no-repeat #F0F0F0 center;
    opacity: 0.7;
    filter: alpha(opacity=70);
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border: 2px solid #FFF;
    
    -webkit-border-radius: 60px;
       -moz-border-radius: 60px;
        -ms-border-radius: 60px;
         -o-border-radius: 60px;
            border-radius: 60px;
            
       -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
               box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}


#exp-result-content{
    margin-bottom: 40px;
    margin-right: -19px;
    margin-top: 10px;
}

.is-sticky #exp-sort-panel{
    opacity: 0.95;
    filter: alpha(opacity=95);
    width: 1169px;
    z-index: 200;
}

#exp-hotel-info{
    padding-bottom: 10px;
}

#exp-search-result{
    margin-right: -10px;
    margin-top: 7px; 
}

#hotel-info-menu{
    margin-bottom: 10px;
}

#retov-button{
    margin-bottom: 10px;
    width: 100%;
    display: none;
}

.rounded.white{
    background: #FFFFFF;
}
.rounded .rwrapper{
    padding: 10px;
}
.ral5011{
    background: #192741;
    color: #FFFFFF;
}
.ral5024{
    background: #EBF0F3;
    color: #192741;
    border-top: 1px solid #D9E2E7;
    border-bottom: 1px solid #D9E2E7;
}

.arrow-down{
    display: block;
    margin-top: 10px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0); 
    z-index: 200;
}
#exp-result-content .arrow-down{
    margin-left: 415px; 
}
.arrow-down.arrow-ral5011{
    border-top-color: #192741; 
}


/* -- collapse-panel -- */
.collapse-panel{
    
}
/* -- /collapse-panel -- */


.list-header{
    height: 40px;
    background: red;
    margin: 1px;
    -webkit-border-radius: 2px 2px 0 0;
       -moz-border-radius: 2px 2px 0 0;
            border-radius: 2px 2px 0 0;
}

.list-body{
    margin-left: 7px;
}
.list-item{
    display: inline-block;
    background: #00F;
    margin: 7px 5px;
}
.list-item img{
    width: 100%;
}


.amenity-item{
   /* border: 1px solid #C9C9C9; */
    padding: 0px 4px;
    display: block;
    float: left;
    margin: 1px;
    width: 270px;
    height: 20px;
    overflow: hidden;
    cursor: context-menu;
    padding-top: 1px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}
.amenity-item:hover{
    background: #2D3F5F;
}


.hotel-address-box{
    
}
.hotel-address-box .city, .hotel-address-box .address{
    padding-bottom: 4px; 
}
.hotel-address-box .city{
    font-size: 22px; 
}
.hotel-address-box .address{
    font-size: 18px;
}
.hotel-address-box .postalcode{
    color: #B3B3B3;
}
.hotel-address-box .postalcode span{
    color: #383838;
}


.hdt-list{
    margin-top: 10px;
    background: #F5F5F5;
    border-top: 1px solid #E9E9E9; 
}
.hdt-list .hdt-item{
    margin-bottom: 20px;
}


.hi-title{
    background: #496AA7;
    color: #FFF;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #D1D1D1;
    margin-bottom: 10px;
              
    -webkit-border-radius: 2px 2px 0 0;
       -moz-border-radius: 2px 2px 0 0;
        -ms-border-radius: 2px 2px 0 0;
         -o-border-radius: 2px 2px 0 0;
            border-radius: 2px 2px 0 0;
}
.hi-title .hi-name{
    padding-top: 1px;
}
.hi-title .hi-stars{
    float: right;
    display: block;
    margin-top: -1px;
    margin-right: 10px;
}
.hi-title .hi-close{
    float: right;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/btn-close-white.png) center no-repeat #2D4674;
    margin: -10px -10px 0 0;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
    border-left: 1px solid #5E80C0;
    
    -webkit-border-radius: 0 2px 0 0;
       -moz-border-radius: 0 2px 0 0;
        -ms-border-radius: 0 2px 0 0;
         -o-border-radius: 0 2px 0 0;
            border-radius: 0 2px 0 0;
}
.hi-title .hi-close:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}

.hotel-room{
    border-bottom: 1px dotted #DFDFDF;
}
.hotel-room .hr-sp-6{
    display: inline-block;
    width: 59%;
}
.hotel-room .hr-sp-3{
    display: inline-block;
    width: 30%;
}
.hotel-room .hr-sp-2{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
.hotel-room .hr-right{
    text-align: right;
}
.hotel-room .hr-price{
    font-size: 19px;
}
.hotel-room .hr-price sup{
    font-size: 12px;
    color: #616161;
}


.loader{
    display:none;
    text-align:center;
    padding:100px;
}


.menu-list{
    margin: -10px;
}
.menu-list>li>a{
    padding: 10px;
    border-bottom: 1px solid #EEE;
}
.menu-list > li:first-child > a {
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}
.menu-list > li:last-child > a {
    border-bottom: 0;
  -webkit-border-radius: 0 0 3px 3px;
     -moz-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
}
.menu-list>li>a:hover, .menu-list>li>a:focus {
    background-color: #F7F7F7;
}
.menu-list .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
    filter: alpha(opacity=25);
}


.sri-box{
    margin: 0 10px 30px 0;
    display: inline-block;
    width: 19%;
}
.sri-box .rounded{
    padding: 3px;
}
.sri-box .image{
    height: 220px;
    overflow: hidden;
  /*  margin: -9px -9px 0 -9px; */
    background: #DDD;
    cursor: pointer;
}
.sri-box .image img{
    width: 100%;
    max-width: inherit;
    margin-top: -64px;
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
}
.sri-box .vendor{
    text-align: center;
}
.sri-box .name{
    color: #073B6B;
    padding: 5px 0 0;
    text-align: center;
    
    
  /*  font-style: italic; */
    
    font-family: georgia;
    font-size: 17px;
    font-weight: 300;
    height: 20px;
    line-height: 19px;
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    font-weight: 300;
    height: 25px;
    line-height: 23px;
    
    
    overflow: hidden;
    margin: 4px 0;
    cursor: pointer;
 /*   -webkit-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
       -moz-text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
            text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1); */
}
.sri-box .name:hover{
    color: #000;
}
.sri-box .note{
    font-size: 11px;
    font-family: tahoma;
    color: #585858;
    line-height: 12px;
}
.sri-box .price{
    text-align: right;
    padding: 5px 0;
}
.sri-box .price span{
    font-size: 20px;
    padding: 5px 8px;
    background: #FAFAFA;
    color: #242424;
    display: inline-block;
    border: 1px dashed #E7E7E7;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}
.sri-box .price sup{
    font-size: 12px;
}
.sri-box .controls{
    border-top: 1px dotted #DDD;
    padding: 5px 0;
    font-size: 11px;
    font-family: tahoma;
    text-align: center;
}
.sri-box .controls .rating{
    float: right;
    margin-top: 4px;
}
.sri-box .controls .button-flat-highlight{
    background: #FFFFF9;
    padding: 0 10px;
}
.sri-box .controls .button-flat-highlight i{
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.sri-box .controls .button-flat-highlight:hover{
    background: #FFFFC0;
}
.sri-box .controls .price{
    padding: 0 10px;
}


#portamento_container {
    float:right; 
    position:relative;
}

#portamento_container #example {
    float:none; 
    position:absolute;
}

#portamento_container #example.fixed {
    position:fixed;
}

/* -- search-params -- */
.search-params{
    margin-bottom: 30px;
    margin-top: 20px;
}
.search-params table{
    font: 11px/8px tahoma;
    width: 100%;
    margin-top: 10px;
}
.search-params table select{
    padding: 1px;
    width: 44px;
    height: 21px; 
    margin: -7px 0 7px;
}
.search-params table td{
    vertical-align: top;
    padding: 0 2px 2px;
}
.search-params .sp-room-number{
    width: 60px;
    border-right: 1px solid #969696;
}
.search-params .sp-item-row{
    padding-left: 10px;
}
/* -- /search-params -- */


/* -- galleria --*/
.galleria-container {
    background: none;
}
/* -- /galleria --*/


.sticky-wrapper{
    z-index: 300;
    position: relative;
}

.categories-menu{
    background: #ECECEC;
    position: absolute;
    width: 1100px;
    margin-left: 34px;
    margin-top: 52px;
    z-index: 200;
    border: 1px solid #FFF;
    padding-top: 10px;   
}

.category-box{
    display: inline-block;
    width: 220px;
}

/* -- hint.css -- */
.hint:after, [data-hint]:after{
    z-index: 1000;
}
/* -- hint.css -- */



.playout .title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
}